# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NSFOCUS\goTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
